.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.btn{
  color: aqua;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  background-color: rgb(75, 73, 73);
  position: absolute;
  left: 46%;
  font-size: 1.2rem;
  border-radius: 15%;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
